<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>

    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                     <!-- main header right div-->
                     <div class="col-md-6 col-12 main_header_right align-items-center pr-0">
                        <figure>
                         <img src="images/new1.jpg" alt="my pic" class="img-fluid" title="Shiv">
                        </figure>
                     </div>

                    <!-- main header left div-->
                    <div class="col-md-6 col-12 main_header_left pl-0">
                        <p>Welcome to my new website</p>
                        <h1>I Am An <span>MCA Student</span>, I Am Proficient In Web Development</h1>
                        <a href="https://drive.google.com/file/d/1PgzJ50Z7E9wGHHRbV_axFG9GghSfZv4n/view?usp=drive_link" target="_blank"> <button >check my resume</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
</body>

</html>