@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
}

:root{
    --main-bg : #1e272e;
    --main-color : #0097e6; 
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
html{
    font-size: 62.5%;
}

.row{
    margin: 0;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}

.navbar a{
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-color);
   
}
.navbar li{
    margin-left: 2rem;
}

.navbar-toggler{
    background-color: black;
}

.fa-snowflake{
    color: var(--main-color);
    transition: all linear;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

/* main-header */

.main_header_left{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left span{
  color: var(--main-color);
}
.main_header_left button{
 border: none;
 padding: 0.6rem 1.6rem;
 font-size: 1.2rem;
 text-transform: uppercase;
 border-radius: 1.8rem;
 box-shadow: 0 8px 6px -5px #000;
 outline: none;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -5px var(--main-color);
    color: var(--main-color);
}


.main_header_right{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

/* In about page */
.main_header_right figure img{
    height: 250px;
    width: 250px;
   filter: drop-shadow(0 0.5rem 1rem rgba(0, 0 , 0, 1));
}

/* Footer Code */

footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;

}

footer p{
    color: #fff;
    margin: 0;
    line-height: 5rem;
    text-align: center;font-size: 1.5rem;
}


/* weather page style code */

.temp_form{
    width: 60%;
    position: relative;
    margin: 5rem auto 6rem;
}

.temp_form input[type= "text"]{
width: 100%;
padding: 1.5rem 3rem 1.5rem 1.5rem;
background: #1e272e;
color: #fff;
font-size: 1.7rem;
outline: none;
border: none;
border-radius: 2rem;
}

::placeholder{
    color: #bfc1c8;
}

.temp_form input[type= "submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #0097e6;
    padding: 0 3rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    color: #fff;

}

.temp_form input[type= "submit"]:hover{
    background:#fff;
    color: #0098d8;
}

.tempInfo{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
}

.tempInfo .top_layer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d303d;
    border-radius: 1rem;
}

.tempInfo .top_layer p{
    color: #fff;
   font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}

.tempInfo .main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.tempInfo .main_layer #city_name{
    color: #fff;
    font-weight: 700;
    padding: 1.5rem 0;
    font-size: 1.4rem;

}

.middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
    
}

.middle_layer p,
.middle_layer fa{
    font-size: 5rem;
    font-weight: 700;
}

.fa {
    color: #0098d8;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

/* For responsive code */

@media (max-width : 768px) {
    .main_header_left{
        height: auto;
        margin: 4rem 0;
    }
    .main_header_right{
        height: auto;
        margin-top: 3rem 0;
    }
}